/*.col-md-4.col-sm-6 {
	border: 2px solid orange;
	background-color: blue;
	text-align: center;
	color: white;
}  */
header {
	font-size: 40px;
}

section {
	width: 33.00%;
	box-sizing: border-box;
	border: 1px solid black;
	background-color: blue;
	font-size: 15px;
	color:#fff;
	float: left;
	margin: 0.15%;
}
label {
	border: 1px solid black;
	background: cyan;
	font-size: 15px;
	color: #fff;
	padding: 5px;
	position: relative;
	float: right;
	top: 0px;
	right: 0px;
}
p {
	margin-top: 20px;
	margin-left: 10px;
}


@media (max-width: 767px) {   /*mobile*/
	section {
		background-color: red;
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {    /*tablet*/
	section {
		background-color: green;
		width: 49.7%;
	}
	section:nth-child(4) {
		width: 100%;
	}
}
@media (min-width: 992px) {   /*desktop*/
	section {
		
	}
}